@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  
}

html {
    scroll-behavior: smooth;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: firebrick;
}
.MY_PHOTO {
    height: 650px;
    width: 700px;
    shape-image-threshold: inherit;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 30px;
    font-weight: 700;
    color: crimson;
}

.home-content p {
    font-size: 15px;
    font-weight: 700;
    color: #ededed;
}

.home-content .btn-box {
    display: flex;
    width: 345px;
    height: 50px;
    
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid firebrick;
    border-radius: 8px;
    font-size: 19px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}




.about {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.about-content {
    max-width: 600px;
}

.about-content h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.row {
   display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;

}

.about-col-2 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 600;
}


.about-col-2 p {
    font-size: 15px;
    font-weight: 400;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    font-style: italic;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: firebrick;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: firebrick;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}



.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-content {
    height: 100vh;
    display: flex;
    padding: 0 10%;
}

.services h1{
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: firebrick;
    transform: translate(-10px);
}


.contact{
    height: 100vh;
    padding: 0 10%;
    align-items: center;
}

.contact .contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: firebrick;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.contact-right button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid firebrick;
    border-radius: 8px;
    font-size: 19px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: transform 0.5s;
}

.contact-right button:hover{
    color: firebrick;
    transform: translateY(-5px);
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: firebrick;
}

#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}